<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
<div class="session_footer" th:fragment="foot">
    <div class="layer">
            <span class="copyright-text">
                <a href="#" target="_blank"> 本社区仅供学习交流使用 </a>
                 Copyright ©2019&nbsp;Bluer     &nbsp
                <img width="13" height="16" src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/copy_rignt_24.png">
                <a href="http://www.beian.miit.gov.cn/"> 苏ICP备19062918号-1 </a>
<!--                 <a href="http://www.beian.miit.gov.cn/" target="_blank"><i class="icon-footer"></i>京公网安备xxxxxxxxxxxxxx号</a>-->
            </span>
    </div>
</div>
</body>
</html>