<!--
 * @Description:
 * @Author: Bluer
 * @Date: 2020-09-12 15:40:51
 * @LastEditTime: 2020-09-12 20:22:33
 * @LastEditors: Bluer
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestForSrc1</title>
</head>

<body>
<div>
    <video  id="sound"  class="player" controls autoplay></video>
    <!-- <video src="http://localhost:8080/blob/getStream"controls autoplay></video> -->
</div>
</body>
<!-- 头条的jquery -->
<script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    let xhr = new XMLHttpRequest()
    xhr.open('GET', '/blob/getStream', true)
    //跨域请求 不太行
    xhr.responseType = 'blob'
    xhr.onload = function (e) {
        if (this.status === 200) {
            // 获取blob对象
            let blob = this.response
            console.log(blob)
            // 获取blob对象地址，并把值赋给容器
            $("#sound").attr("src", URL.createObjectURL(blob));
        }
    }
    xhr.send()
</script>

</html>